* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar {
    width: 100%;
}

.calendar {
    width: 300px;
    height: auto;
    display: flex;
    flex-direction: column;
    padding: 10px;
    background: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.644);
    margin-bottom: 3%;
}
.title {
  text-align: center;
  margin: 20px;
  color: black;
  font-size: 30px;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.monthYear {
    text-align: center;
    font-weight: 600;
    width: 150px;
}

.header button {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 50%;
    background: #ffff;
    cursor: pointer;
    width: 40px;
    height: 40px;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
}

.days {
    display: grid;
    grid-template-columns: repeat(7,1fr);
}

.day {
    text-align: center;
    padding: 5px;
    color: #999FA6;
    font-weight: 500;
}

.dates { 
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 2px;
}

.date {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 10px;
    margin: auto;
    cursor: pointer;
    font-weight: 600;
    border-radius: 50%;
    width: 36px;        
    height: 36px; 
    transition: 0.2s;
}

.date:hover,
.date.active {
    background: #ff5869;
    color: #fff;
}

.date.inactive {
    color: #d2d2d2;  
}

.date.inactive:hover {
    color: #fff;
}
.weekly-summary {
    width: 280px;
    padding: 20px;
    background: #ffffff;
    border-radius: 12px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.644);  
    text-align: center;
    min-height: 19em;

}

.weekly-summary h2 {
    margin-bottom: 10px;
}

.summary-item {
    margin: 10px 0;
    font-size: 18px;
    font-weight: 600;
}

.summary-item.expense {
    padding: 1em;
    color: #e74c3c;
}

.summary-item.savings {
    padding: auto;
    color: #8e44ad;
}

#weekRange {
    font-size: 14px;
    color: #555;
}

.summary-item span {
    display: block;  
}
.calendar-wrapper {
    display: flex;
    justify-content: center;  
    align-items: flex-start;   
    gap: 40px;              
    margin: 40px 0;         
    width: 100%;
}
